@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	color: var(--color-kult-link);
	transition: var(--kult-transition, all 0.35s ease-in);
}
/* stylelint-enable */

a:visited {
	color: var(--color-kult-link-visited);
}

a:hover,
a:focus,
a:active {
	color: var(--color-kult-link-active);
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
