
/* -- [ ELEMENTS : TYPOGRAPHY ] --------------------------*/

body {
	color: $primary01;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	//font-weight: $font-regular;
	//font-size: $base-font-size;
	//line-height: $base-line-height;
}
