
/* -- [ VARIABLES : BREAKPOINTS ] --------------------------*/

$breakpoint-xs  : 0;      // Extra small sreen / phone
$breakpoint-sm  : 576px;  // Small screen / phone
$breakpoint-md  : 768px;  // Medium screen / tablet
$breakpoint-lg  : 992px;  // Large screen / desktop
$breakpoint-xl  : 1200px; // Extra large screen / wide desktop


$breakpoints: (
	xs: $breakpoint-xs,
	sm: $breakpoint-sm,
	md: $breakpoint-md,
	lg: $breakpoint-lg,
	xl: $breakpoint-xl) !default;
