@charset "UTF-8";
/*-----------------------------------------*/
/* -- [ VARIABLES ] -----------------------*/
/*-----------------------------------------*/
/*
* SETTINGS
* Config...............Project-level configuration and feature switches.
* Core.................inuitcss’ core and setup settings.
* Global...............Project-wide variables and settings.
*/
/*
@import 'var-borders';
@import 'var-breakpoints';
@import 'var-colors';
@import 'var-spacing';
@import 'var-transitions';
@import 'var-typography';
@import 'var-z-index';
*/
/* -- [ VARIABLES : COLORS ] --------------------------*/
/* -- [ VARIABLES : ROOT ] --------------------------*/
:root {
  --black: $kult-black;
  --kult-orange: $kult-orange;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html body {
  color: var(--black, black);
}

/* -- [ VARIABLE : SPACING ] --------------------------*/
/*-------------------------------------------------*/
/* -- [ MIXINS : TOOLS ] --------------------------*/
/*-------------------------------------------------*/
/* tools: Site-wide Mixins and Functions.

 * TOOLS
 * Font-size............A mixin which guarantees baseline-friendly line-heights.
 * Clearfix.............Micro clearfix mixin.
 * Hidden...............Mixin for hiding elements.
 * Sass MQ..............inuitcss’ default media query manager.

*/
/* -- [ MIXIN : CLEARFIX ] --------------------------*/
/* -- [ MIXIN : FLEXBOX ] --------------------------*/
/*------------------------------------*\
    #FLEXBOX w/ BROWSER FALLBACKS
\*------------------------------------*/
/* Then we define the flow direction
    and if we allow the items to wrap
  * Remember this is the same as:
  * flex-direction: row;
  * flex-wrap: wrap;
*/
/* -- [ COMPONENT : HEADER ] --------------------------*/
.c-header {
  background: #16161d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.c-header_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 1100px;
  height: 100%;
}

.c-header_container-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header_logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 1000;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.01);
}

.c-header_logo:hover, .c-header_logo:focus, .c-header_logo:active {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.c-header_logo:hover #kult-logo-lg .st0, .c-header_logo:focus #kult-logo-lg .st0, .c-header_logo:active #kult-logo-lg .st0 {
  fill: #17181e;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.c-header_logo:hover #kult-logo-lg .st1, .c-header_logo:focus #kult-logo-lg .st1, .c-header_logo:active #kult-logo-lg .st1 {
  fill: #FFF;
}

.c-header_logo:hover #kult-logo-lg .st2, .c-header_logo:focus #kult-logo-lg .st2, .c-header_logo:active #kult-logo-lg .st2 {
  fill: #F89921;
}

.c-header_logo-img {
  height: 42px;
}

.c-header_logo-img > * {
  -webkit-transition: fill .25s ease;
  transition: fill .25s ease;
}

.c-header #kult-logo-lg {
  display: none;
}

@media (min-width: 576px) {
  .c-header {
    height: 120px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
  .c-header--scroll {
    height: 52px;
  }
  .c-header_logo-img {
    height: 160px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
  .c-header_logo-img--scroll {
    height: 74px;
  }
  .c-header #kult-logo-sm {
    display: none;
  }
  .c-header #kult-logo-lg {
    display: block;
  }
}

@media (min-width: 1100px) {
  .c-header_container-inner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/*------------------------------------*\
	SETTINGS : BREAKPOINTS
\*------------------------------------
  $breakpoint-xs  : 0;      // Extra small sreen / phone
  $breakpoint-sm  : 576px;  // Small screen / phone
  $breakpoint-md  : 768px;  // Medium screen / tablet
  $breakpoint-lg  : 992px;  // Large screen / desktop
  $breakpoint-xl  : 1200px; // Extra large screen / wide desktop
*/
/*# sourceMappingURL=c-header.css.map */